html,
body {
  height: 100%;
}
body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e8eff5;
  position: relative;
}
.body-wrapper {
  flex: 1 0 auto;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 25px;
}
.first,
.second,
.third {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #eff6fc;
  border-radius: 50%;
  z-index: -1;
}
.second {
  width: 400px;
  height: 500px;
  top: 330px;
  left: 70px;
  z-index: -1;
}
.third {
  top: 200px;
  right: 300px;
  z-index: -1;
  width: 200px;
  height: 200px;
}

h1 {
  position: relative;
  top: 400px;
}
h2 {
  margin-left: 20px;
}
.name {
  color: #98a2a8;
}
.home,
.about,
.contact{
  height: 1200px;
}
.portfolio {
  margin-bottom: 200px;
}
.web-cards {
  max-width: 400px;
  margin: 0 10px;
  padding: 0;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.card-image {
  height: 410px;
}
.web-cards img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 0;
}
.web-cards h3 {
  border-radius: 0 0 2px 2px;
  padding: 5px 0;
}
.web-cards p {
  padding: 0 7px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.github, .website{
  text-align: center;
  padding: 10px  5px 5px 5px;
  margin: 10px 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
             rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.github i {
  font-size: 25;
}
.profile-text {
  padding-left: 30px;
  padding-top: 100px;
  max-width: 550px;
  line-height: 50px;
}


.profile {
  max-width: 750px;
}
.profile img {
  width: 100%;
  border-radius: 10px;
}

.btn-primary {
  color: $accent-color !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
.btn-primary:hover {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $white !important;
}
form {
  max-width: 900px;
  margin: 80x auto;
}
input,
textarea {
  border-radius: 2px;
  background-color: #69d9f1;
}
#name {
  width: 300px;
}
#email {
  max-width: 500px;
}
#subject {
  max-width: 700px;
}

.validation-error {
  display: none;
  color: red;
  text-align: center;
}
#success {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  margin: 0px auto;
  padding: 5px;
  color: green;
  font-size: 20px;
}

/* Smaller screens */

@media (max-width: 700px) {
  .web-cards {
    margin: 10px 0px;
  }
  .git-link {
    margin: 10px 0;
  }
  .home {
    max-height: 600px;
  }
  .first {
    max-width: 200px;
    height: 200px;
    top: 30px;
    left: 0px;
  }
  .second {
    max-width: 300px;
    height: 300px;
    top: 230px;
    left: 30px;
  }
  .third {
    max-width: 100px;
    height: 100px;
    top: 100px;
    right: 20px;
  }

  h1 {
    top: 150px;
  }
  .about,
  .contact {
    max-height: 900px;
  }
}

// Mobile screens
@media (max-width: 400px) {
.portfolio {
  margin-bottom: 20px;
}
    .cards .web-cards {
      max-width: 320px;
    }
.card-image {
  height: 330px;
}
.profile {
  max-width: 320px;
}

form {
  max-width: 320px;
  margin: 0 auto;
}
}
